[nessus]
hostname=localhost
port=8834
access_key=
secret_key=

[aws]
aws_nessus_scanner_user_id=
aws_nessus_scanner_user_secret=
aws_region=us-east-1
aws_s3_bucket_name=

[scanner]
deployment_id=